<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.min.js"></script>
    <script src="scripts/app.js"></script>
</head>
<body ng-controller="LoginController">
<!--<input type="text" ng-model="name">-->
<!--<h4>{{name}}</h4>-->

<form ng-submit="login()">
    <h4>用户名:</h4>
    <input ng-model="user.username">
    <h4>密码:</h4>
    <input  ng-model="user.password">
    <h5>{{info}}</h5>
    <h5 id="info"></h5>
    <br>
    <input type="submit" value="登陆">
</form>
</body>
</html>